.container{
    height:auto;
    margin: .5em 0;
    width: 100%;
}

body {
    background: url(images/school.png) #A1D9D9;
}

a.center{
    text-align: center;
    width: 100%
}

.center img {
    max-width: 100%;
}

nav {
    text-align: center;
    padding: 12px 3%;
}

nav a {
   color:#fff;
    font-size: 3em;
    display: inline;
}

nav a:hover{
    color: #B16A68;
}

li {
    display: inline;
    padding: 3%;

}

hr {
    width:75%;
    color:#fff; 
    size:1.5px;
    
}

.pages{
    width: 80%;
    margin: 0 auto;
}

.imgpages img{
    width: 100%;
    padding: 4% 0 4% 0;
}

img.grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  transition-duration: 1s;
}

h1 {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding: 3%;
}

.contentimg {
    width: 90%;
    padding: 4% 0;
    margin: 0 auto;
    display: block;
}

.plinks{
    color: #B16A68;
}

a:link {
    text-decoration: none;
}

a h2:hover {
    text-decoration: underline;
}

h2{
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.3em;
    color: #B16A68;
    text-align: left;
    font-weight: 300;
    text-decoration: none;
    padding: 5% 5% 2% 5%;
}

h2 a {
    font-weight: 700;
    color:#B16A68;
}

h2 a:hover {
    color: #fff;
}

p{
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1em;
    color: #686968;
    font-weight: 300;
    line-height: 1.4em;
    padding: 1% 5% 3% 5%;
}

em{
    font-style: italic;
}

strong{
    font-weight: 700;
    font-size: 1.3em;

}

.centertext{
    text-align: center;
}
.embed-container iframe {
    width: 100%;
    margin: 0 5% 0 5%;
    display: block;    
}

.map{
    margin-bottom: 3%;
}
footer {
    bottom:0;
    position: relative;
    width:100%;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    }

footer p {
    padding-bottom: 14px;
    font-family: "Poppins";
    color: #C2C2C2; 
    font-size: 1em;
}
footer a {
    color: #c2c2c2;
    font-size: 2em;
    padding: 0 15px;
    text-align: center;
}

.footercenter{
    text-align: center;
    width: 100%;
}

/*For Tablets*/
@media only screen and (min-width: 768px) {	
   .center img {
    max-width: 70%;
}
 

.imgpages img{
    width: 48%;
    padding: 4% 0 4% 2%;
    float: left;
    
}
 
    footer {
        clear:left;
    }

/*For Desktop*/
@media only screen and (min-width: 1024px) {	

}

